<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name = "inputFile" value = "C:\\Users\\LENOVO\\Desktop\\example1.xlsx"/>
  <parameter name = "outputFile" value = "C:\\Users\\LENOVO\\Desktop\\example11.xlsx"/>
    <classes>
      <class name="org.thoufeeq.Thoufeeq"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
